.three-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    /* backdrop-filter: blur(12px); */
    z-index: 999;
    /* padding-bottom: 20px */
}

.three-nav-links {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

.three-nav-links a {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.25s linear;
    cursor: pointer;
    background: rgba(100, 100, 100, 0.5); 
}

.three-nav-links a:hover {
    background: white;
    color: black
}

.three-nav-button {
    height: 100%;
    width: 75px;
    background: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: white;
    transition: 0.25s linear;
    font-size: 0.85rem;
    border-radius: 5px;
}

.three-nav-button:hover {
   background: black
}

